.cari-rental{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 0 !important;
}
.cari-rental:focus{
    border:0 !important;
}
input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}
.button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: 0;
    background-color: transparent;
}
.search-box{
    position: relative;
    width: 450px;
    height: 30px;
    border-radius: 20px;
    z-index: 9999;
}
.search-box-outer{
    position: relative;
    width: 450px;
}
.text-px{
    margin-left: 6rem;
    margin-right: 6rem;
}
#footer{
    border-top: 1px solid #007a66 !important;
}
.search-toggle-box{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    height: 300px;
    background-color: #E0E0E0;
    color: black;
    width: 100%;
    z-index: 9998;
    border: 0 !important;
}
.kategori-box{
    border: 1px solid #A0A0A0;
    color:#A0A0A0;
    border-radius: 10px;
    cursor: pointer;
}
.filter-checkbox{
    display: none;
}
.filter-checkbox:checked + .kategori-outer>.kategori-box{
    border: 1px solid black !important;
    color: black;
}
.submit-search{
    background-color: #007a66;
    color: white;
    border: none;
    border-radius: 20px;
    display: block;
    width: 50%;
}