.detail-box{
    background-color: white;
    min-height: 500px;
    border-radius: 20px;
    
}

.head-produk{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #007a66;
    color: white;
}
.image-produk{
    width: 100%;
}
.ulasan-link:hover{
    color: #007a66;
    font-weight: bold;
}
.hr-detail{
    border-top: 1px solid #000000;
}
.vertikal-line{
    border-left: 1px solid #000000;
}