body{
    background-color: #008973 !important;
}
.img-background{
    position: absolute;
    top: -170px ;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
}
.login-form{
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
    left: 50% !important;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 20px;
}
.login-form > img{
    width: 250px;
}

form > input{
    border: 1px solid #007A66;
    border-radius: 20px;
    height: 40px;
}

.login-btn{
    background-color: #007A66;
    color: white;
}
a{
    color: #007a66;
}
a:link{
    color: #007a66;
}
a:hover{
    color: #007a66;
}