.bg-white{
    background-color: white;
}
.base-color{
    color: #007a66 !important;
}
.black-color{
    color: black;
}
.pagination > a{
    color: black;
}
.pagination > .active{
    background-color: #007a66;
    border-radius: 50%;
    color: white;
}
.tag-label{
    background-color: #E0E0E0;
    color: #007a66;
}